html{
    font-size: 36px;
}
th{
    padding: 0px !important;
}
p{
    margin: 0px;
}
td{
    padding: 0px !important;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 24px;
}
.td-shedule-doctor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.td-name-doctor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.td-name-category{
    padding-left: 50px !important;
}