@import url("https://fonts.googleapis.com/css?family=Exo+2|Forum|Kelly+Slab|Lobster|M+PLUS+1p|PT+Sans+Caption|Pattaya&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", HelveticaNeueCyr,
    "Forum", "Exo 2";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
